body{
    margin: auto;
    padding: 0;
    border-bottom: 0px;
    border: none;
    background-color: pink;
    color: #fff;
}
.container{
    padding: 20px 20px 0 600px;
    border: 6px;
    border-color:  blue;
    margin-top: 8px;
    margin-right: 10px;
    font-size: 16px;
}